{% extends 'base.html.twig' %}


{% block body %}
    <body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->

    <!-- ==========shape image Starts Here========== -->
    <div class="body-shape">
        <img src="assets/images/shape/body-shape.png" alt="shape">
    </div>
    <!-- ==========shape image end Here========== -->



    <!-- ===========PageHeader Section Start Here========== -->
    <section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
        <div class="container">
            <div class="section-wrapper text-center text-uppercase">
                <h2 class="pageheader-title">about ExtremeTournament</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- ===========PageHeader Section Ends Here========== -->


    <!-- ===========About Section start Here========== -->
    <section class="about-section">
        <div class="container">
            <div class="section-wrapper padding-top">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-image">
                            <img src="assets/images/about/01.png" alt="about-image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10">
                        <div class="about-wrapper">
                            <div class="section-header">
                                <p>who we are</p>
                                <h2>we are professional team esport</h2>
                            </div>
                            <div class="about-content">
                                <p>Distinctively provide acces mutfuncto users whereas transparent
                                    proceses somes ncentivize eficient functionalities rather than an
                                    extensible archtectur services and cross</p>
                                <ul class="about-list">
                                    <li class="about-item d-flex flex-wrap">
                                        <div class="about-item-thumb">
                                            <img src="assets/images/about/icon-1.png" alt="Icon">
                                        </div>
                                        <div class="about-item-content">
                                            <h5>103k Community Earning</h5>
                                            <p>Distinctively provide acces mutfuncto users whereas
                                                communicate leveraged services</p>
                                        </div>
                                    </li>
                                    <li class="about-item d-flex flex-wrap">
                                        <div class="about-item-thumb">
                                            <img src="assets/images/about/icon-2.png" alt="Icon">
                                        </div>
                                        <div class="about-item-content">
                                            <h5>34m+ Registered Players</h5>
                                            <p>Distinctively provide acces mutfuncto users whereas
                                                communicate leveraged services</p>
                                        </div>
                                    </li>
                                    <li class="about-item d-flex flex-wrap">
                                        <div class="about-item-thumb">
                                            <img src="assets/images/about/icon-3.png" alt="Icon">
                                        </div>
                                        <div class="about-item-content">
                                            <h5>240k Streams Complete</h5>
                                            <p>Distinctively provide acces mutfuncto users whereas
                                                communicate leveraged services</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===========About Section Ends Here========== -->



    <!-- ===========Video Section Start Here========== -->
    <div class="video-section padding-top padding-bottom" style="background-image:url(assets/images/video/bg.jpg)">
        <div class="container">
            <div class="section-header">
                <p>our LATEST VIDEOS</p>
                <h2>check our live streaming</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="video-top">
                            <div class="row g-4 justify-content-center">
                                <div class="col-12">
                                    <div class="video-item">
                                        <div class="video-inner position-relative">
                                            <div class="video-thumb position-relative video-overlay">
                                                <img src="assets/images/video/06.jpg" alt="video-thumb" class="w-100">
                                                <div class="video-icon">
                                                    <a href="https://www.youtube.com/embed/g5eQgEuiFC8" data-rel="lightcase">
                                                        <i class="icofont-play-alt-1"></i>
                                                        <span class="pluse"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="video-bottom">
                            <div class="testimonial-slider overflow-hidden">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="testimonial-inner">
                                                <div class="testimonial-head">
                                                    <div class="testi-top">
                                                        <div class="testimonial-thumb">
                                                            <img src="assets/images/testimonial/01.jpg" alt="testimonial">
                                                        </div>
                                                        <div class="name-des">
                                                            <h5>Madley Pondor</h5>
                                                            <p>UI Designer</p>
                                                        </div>
                                                    </div>
                                                    <img src="assets/images/testimonial/logo/01.png" alt="testimonial">
                                                </div>
                                                <div class="testimonial-body">
                                                    <p>Edgeing nterfaces fnergstca plagiarize teams anbudng paradgms rapidiousl buildcaboration anden deassharing viaing and bleeding whereas goingi forward process and monetze</p>
                                                </div>
                                                <div class="testimonial-footer">
                                                    <ul>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                    </ul>
                                                    <h5>5.28</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-item">
                                            <div class="testimonial-inner">
                                                <div class="testimonial-head">
                                                    <div class="testi-top">
                                                        <div class="testimonial-thumb">
                                                            <img src="assets/images/testimonial/02.jpg" alt="testimonial">
                                                        </div>
                                                        <div class="name-des">
                                                            <h5>Oliver Beddows</h5>
                                                            <p>UI Designer</p>
                                                        </div>
                                                    </div>
                                                    <img src="assets/images/testimonial/logo/02.png" alt="testimonial">
                                                </div>
                                                <div class="testimonial-body">
                                                    <p>Rapidious buildcaboration anden deas sharing viaing and beedng edgeing nterfaces fnergstcia plagiarize teams anbuding paradgm whereas goingi forward process and monetze</p>
                                                </div>
                                                <div class="testimonial-footer">
                                                    <ul>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                        <li><i class="icofont-ui-rate-blank"></i></li>
                                                    </ul>
                                                    <h5>5.28</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Video Section Ends Here========== -->



    <!-- ===========Product Section Start Here========== -->
    <div class="product-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <p>bigamer t-shirt’s</p>
                <h2>explore our products</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-4 justify-content-center">
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        <div class="product-item">
                            <div class="product-inner">
                                <div class="product-thumb">
                                    <img src="assets/images/product/01.jpg" alt="product-thumb" class="w-100">
                                </div>
                                <div class="product-content text-center p-3">
                                    <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                    <h5 class="product-price">$380.00</h5>
                                    <div class="rating">
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        <div class="product-item">
                            <div class="product-inner">
                                <div class="product-thumb">
                                    <img src="assets/images/product/02.jpg" alt="product-thumb" class="w-100">
                                </div>
                                <div class="product-content text-center p-3">
                                    <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                    <h5 class="product-price">$380.00</h5>
                                    <div class="rating">
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        <div class="product-item">
                            <div class="product-inner">
                                <div class="product-thumb">
                                    <img src="assets/images/product/03.jpg" alt="product-thumb" class="w-100">
                                </div>
                                <div class="product-content text-center p-3">
                                    <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                    <h5 class="product-price">$380.00</h5>
                                    <div class="rating">
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        <div class="product-item">
                            <div class="product-inner">
                                <div class="product-thumb">
                                    <img src="assets/images/product/04.jpg" alt="product-thumb" class="w-100">
                                </div>
                                <div class="product-content text-center p-3">
                                    <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                    <h5 class="product-price">$380.00</h5>
                                    <div class="rating">
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                        <i class="icofont-ui-rating"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Product Section Ends Here========== -->



    <div class="container">
        <hr class="m-0">
    </div>

    <!-- ===========Sponsor Section Start Here========== -->
    <div class="sponsor-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <p>WE OUR PARTNERS</p>
                <h2>BECOME A PARTNER of bigamer</h2>
            </div>
            <div class="section-wrapper">
                <div class="row g-5 justify-content-center row-cols-xl-5 row-cols-md-3 row-cols-2">
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/01.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/02.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/03.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/04.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/05.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/06.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/07.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sponsor-item">
                            <div class="sponsor-inner">
                                <div class="sponsor-thumb text-center">
                                    <img src="assets/images/sponsor/08.png" alt="sponsor-thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Sponsor Section Ends Here========== -->



    <!-- ===========CTA Section start Here========== -->
    <section class="cta-section padding-bottom">
        <div class="container">
            <div class="cta-wrapper item-layer">
                <div class="cta-item px-4 px-sm-5 pt-4 pt-sm-5 pt-lg-0" style="background-image: url(assets/images/cta/bg.jpg);">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="cta-content">
                                <p>Let's Play together</p>
                                <h2>JOIN <span class="theme-color text-uppercase">bigamer</span> ESPORTS TO BECOME
                                    NEXT PRO GAMER TODAY!</h2>
                                <p>Distinctively provide acces mutfuncto users whereas transparent
                                    proceses somes ncentivize eficient functionalities rather than an
                                    extensible archtectur services and cross</p>
                                <a href="signup.html" class="default-button"><span>Join Community <i class="icofont-circled-right"></i></span></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cta-thumb text-end">
                                <img src="assets/images/cta/01.png" alt="gamer-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===========CTA Section Ends Here========== -->



    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>


    </body>

{% endblock %}
