{% extends 'baseback.html.twig'%}

{%  block body  %}
    <body>
    <!-- Dashboard Header -->
    <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
    <div id="page-wrapper">
        <!-- Preloader -->
        <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
        <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>


        <div id="page-content">
            <div class="content-header content-header-media">
                <div class="header-section">
                    <div class="row">
                        <!-- Main Title (hidden on small devices for the statistics to fit) -->
                        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                            <h1>Welcome <strong>Admin</strong><br><small>You Look Awesome!</small></h1>
                        </div>
                        <!-- END Main Title -->

                        <!-- Top Stats -->
                        <div class="col-md-8 col-lg-6">
                            <div class="row text-center">
                                <div class="col-xs-4 col-sm-3">
                                    <h2 class="animation-hatch">
                                        $<strong>93.7k</strong><br>
                                        <small><i class="fa fa-thumbs-o-up"></i> Great</small>
                                    </h2>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <h2 class="animation-hatch">
                                        <strong>167k</strong><br>
                                        <small><i class="fa fa-heart-o"></i> Likes</small>
                                    </h2>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <h2 class="animation-hatch">
                                        <strong>101</strong><br>
                                        <small><i class="fa fa-calendar-o"></i> Events</small>
                                    </h2>
                                </div>
                                <!-- We hide the last stat to fit the other 3 on small devices -->
                                <div class="col-sm-3 hidden-xs">
                                    <h2 class="animation-hatch">
                                        <strong>27&deg; C</strong><br>
                                        <small><i class="fa fa-map-marker"></i> Sydney</small>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <!-- END Top Stats -->
                    </div>
                </div>
                <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
                <img src="{{ asset('assets/img/placeholders/headers/dashboard_header.jpg ') }}" alt="header image" class="animation-pulseSlow">
            </div>
            <!-- END Dashboard Header -->

            <!-- Mini Top Stats Row -->
            <div class="row">
                <div class="col-sm-6 col-lg-3">

                </div>
                <div class="col-sm-6 col-lg-3">

                </div>
                <div class="col-sm-6 col-lg-3">

                </div>
                <div class="col-sm-6 col-lg-3">

                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <!-- END Mini Top Stats Row -->

            <!-- END Page Content -->

            {% block userinfos %}
                <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
                <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

                <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
                <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header text-center">
                                <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                            </div>
                            <!-- END Modal Header -->

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                                    <fieldset>
                                        <legend>Vital Info</legend>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Username</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">Admin</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                            <div class="col-md-8">
                                                <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                            <div class="col-md-8">
                                                <label class="switch switch-primary">
                                                    <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Password Update</legend>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                            <div class="col-md-8">
                                                <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                            <div class="col-md-8">
                                                <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group form-actions">
                                        <div class="col-xs-12 text-right">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END Modal Body -->
                        </div>
                    </div>
                </div>
                <!-- END User Settings -->
            {% endblock %}
    </body>

{% endblock %}
