{% extends 'base.html.twig' %}


{% block body %}
    <body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->

    <!-- ==========shape image Starts Here========== -->
    <div class="body-shape">
        <img src="assets/images/shape/body-shape.png" alt="shape">
    </div>
    <!-- ==========shape image end Here========== -->







    <!-- ===========Banner Section start Here========== -->
    <section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
        <div class="container">
            <div class="section-wrapper text-center text-uppercase">
                <h2 class="pageheader-title">our team</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Team</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ===========Banner Section Ends Here========== -->



    <!-- ===========Player  Section start Here========== -->
    <div class="player-section padding-top padding-bottom">
        <div class="container">
            <div class="section-wrapper">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/1.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/1.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Dragon Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/2.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/2.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Frogs Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/3.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/3.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Tigers Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/4.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/4.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Shark Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/5.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/5.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Gaming Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/1.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/1.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Dragon Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===========Player  Section Ends Here========== -->


    <!-- ===========CTA Section start Here========== -->
    <section class="cta-section padding-bottom">
        <div class="container">
            <div class="cta-wrapper item-layer">
                <div class="cta-item px-4 px-sm-5 pt-4 pt-sm-5 pt-lg-0" style="background-image: url(assets/images/cta/bg.jpg);">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="cta-content">
                                <p class="theme-color text-uppercase ls-2">Let's Play together</p>
                                <h2 class="mb-3">JOIN <span class="theme-color text-uppercase">bigamer</span> ESPORTS TO BECOME
                                    NEXT PRO GAMER TODAY!</h2>
                                <p class="mb-4">Distinctively provide acces mutfuncto users whereas transparent
                                    proceses somes ncentivize eficient functionalities rather than an
                                    extensible archtectur services and cross</p>
                                <a href="signup.html" class="default-button"><span>Join Community <i class="icofont-circled-right"></i></span></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cta-thumb text-end">
                                <img src="assets/images/cta/01.png" alt="gamer-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===========CTA Section Ends Here========== -->



    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>



    </body>

{% endblock %}
