{% extends 'base.html.twig'%}

{%  block body  %}
<body>
<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
<!-- scrollToTop ending here -->

<!-- ==========shape image Starts Here========== -->
<div class="body-shape">
    <img src="assets/images/shape/body-shape.png" alt="shape">
</div>
<!-- ==========shape image end Here========== -->

{% block banner %}

    <!-- ===========Banner Section start Here========== -->
    <section class="banner-section" style="background-image: url(assets/images/banner/bg.jpg);">
    </section>
    <!-- ===========Banner Section Ends Here========== -->

{% endblock %}
<!-- ===========Collection Section Start Here========== -->
<section class="collection-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <p>today's</p>
            <h2>Our Previous Tournaments</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-1">
                            <div class="game-thumb">
                                <img src="assets/images/game/01.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4><a href="team-single.html">Witch Sports Team</a> </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-2">
                            <div class="game-thumb">
                                <img src="assets/images/game/02.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4><a href="team-single.html">Wolves Sports Team</a> </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-3">
                            <div class="game-thumb">
                                <img src="assets/images/game/03.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4><a href="team-single.html">Robot Team</a> </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="game-item item-layer">
                        <div class="game-item-inner bg-4">
                            <div class="game-thumb">
                                <img src="assets/images/game/04.png" alt="game-img">
                            </div>
                            <div class="game-overlay">
                                <h4><a href="team-single.html">Dragon Pro</a> </h4>
                                <ul class="rating-star d-flex flex-wrap justify-content-center align-items-center">
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                    <li class="li"><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper text-center mt-5">
                <a href="game-list.html" class="default-button"><span>Browse All games <i
                                class="icofont-circled-right"></i></span> </a>
            </div>
        </div>
    </div>
</section>
<!-- ===========Collection Section Ends Here========== -->


<!-- ===========About Section start Here========== -->
<section class="about-section">
    <div class="container">
        <div class="section-wrapper padding-top">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="assets/images/about/01.png" alt="about-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="about-wrapper">
                        <div class="section-header">
                            <p>who we are</p>
                            <h2>we are professional team esport</h2>
                        </div>
                        <div class="about-content">
                            <p>Distinctively provide acces mutfuncto users whereas transparent
                                proceses somes ncentivize eficient functionalities rather than an
                                extensible archtectur services and cross</p>
                            <ul class="about-list">
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="assets/images/about/icon-1.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>103k Community Earning</h5>
                                        <p>Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services</p>
                                    </div>
                                </li>
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="assets/images/about/icon-2.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>34m+ Registered Players</h5>
                                        <p>Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services</p>
                                    </div>
                                </li>
                                <li class="about-item d-flex flex-wrap">
                                    <div class="about-item-thumb">
                                        <img src="assets/images/about/icon-3.png" alt="Icon">
                                    </div>
                                    <div class="about-item-content">
                                        <h5>240k Streams Complete</h5>
                                        <p>Distinctively provide acces mutfuncto users whereas
                                            communicate leveraged services</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========About Section Ends Here========== -->


<!-- ===========match schedule Section start Here========== -->
<section class="match-section padding-top padding-bottom" style="background-image:url(assets/images/match/bg.jpg)">
    <div class="container">
        <div class="section-header">
            <p>Anywhere, Anytime</p>
            <h2>All matches schedule</h2>
        </div>
        <div class="section-wrapper">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-yellow">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul
                                                    class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/team-1.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/team-2.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p
                                                    class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul
                                                    class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png"
                                                                     alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png"
                                                                     alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png"
                                                                     alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="upcome-matches">
                        <h3 class="upcome-match-header">Upcoming Matches</h3>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-orange">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-1.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-2.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">call of duty TOURNAMENT</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-blue">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-3.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-4.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">LEAGUE BATTLE tournament</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-pink">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-5.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-6.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">pubg classic tournament</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="upcome-matches">
                        <h3 class="upcome-match-header">Previous Matches</h3>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-pink">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-7.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-8.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">4 - 2</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a>
                                                            </li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-yellow">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-9.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-10.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">8 - 4</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a>
                                                            </li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="match-item-2 item-layer">
                                    <div class="match-inner">
                                        <div
                                                class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                            <p class="match-team-info">
                                                2 group <span class="fw-bold">32 Players</span>
                                            </p>
                                            <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                                        </div>
                                        <div class="match-content gradient-bg-blue">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-md-2 col-5 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html" class="text-center"><img
                                                                    src="assets/images/match/teamsm/teamsm-11.png"
                                                                    alt="team-img"></a>
                                                    </div>

                                                </div>
                                                <div class="col-2 d-md-none">
                                                    <img src="assets/images/match/vs.png" alt="vs">
                                                </div>
                                                <div class="col-md-2 col-5 order-md-3 p-0">
                                                    <div class="match-team-thumb text-center">
                                                        <a href="team-single.html"><img
                                                                    src="assets/images/match/teamsm/teamsm-12.png"
                                                                    alt="team-img"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                                    <div class="match-game-info text-center">
                                                        <h4><a href="team-single.html">3 - 4</a>
                                                        </h4>
                                                        <p class="d-flex flex-wrap justify-content-center">
																<span class="match-date">30
																	April 2021 </span><span class="match-time">Time:
																	08:30PM</span>
                                                        </p>
                                                        <ul
                                                                class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-1.png"
                                                                            alt="vimeo"></a>
                                                            </li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-2.png"
                                                                            alt="youtube"></a></li>
                                                            <li><a href="#"><img
                                                                            src="assets/images/match/social-3.png"
                                                                            alt="twitch"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper text-center mt-5">
                <a href="game-list.html" class="default-button"><span>Browse All Matches <i class="icofont-circled-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ===========match schedule Section Ends Here========== -->



<!-- ===========Player  Section start Here========== -->
<section class="player-section padding-top padding-bottom">
    <div class="container-fluid">
        <div class="section-header">
            <p>Our Team Players</p>
            <h2>Meet Our Squad Players
            </h2>
        </div>
        <div class="section-wrapper">
            <div class="player-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/1.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/1.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Dragon Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/2.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/2.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Frogs Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/3.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/3.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Tigers Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/4.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/4.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Shark Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player-item-2 text-center" style="background-image: url(assets/images/team/5.jpg);">
                            <div class="player-inner-2">
                                <div class="player-thumb-2">
                                    <a href="team-single.html"><img src="assets/images/team/5.png" alt="team-img"></a>
                                </div>
                                <div class="player-content-2">
                                    <a href="team-single.html"><h2>Gaming Team</h2></a>
                                    <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                        <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                        <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========Player  Section Ends Here========== -->


<!-- ===========CTA Section start Here========== -->
<section class="cta-section padding-bottom">
    <div class="container">
        <div class="cta-wrapper item-layer">
            <div class="cta-item px-4 px-sm-5 pt-4 pt-sm-5 pt-lg-0" style="background-image: url(assets/images/cta/bg.jpg);">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-content">
                            <p class="theme-color text-uppercase ls-2">Let's Play together</p>
                            <h2 class="mb-3">JOIN <span class="theme-color text-uppercase">bigamer</span> ESPORTS TO BECOME
                                NEXT PRO GAMER TODAY!</h2>
                            <p class="mb-4">Distinctively provide acces mutfuncto users whereas transparent
                                proceses somes ncentivize eficient functionalities rather than an
                                extensible archtectur services and cross</p>
                            <a href="signup.html" class="default-button"><span>Join Community <i class="icofont-circled-right"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-thumb text-end">
                            <img src="assets/images/cta/01.png" alt="gamer-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========CTA Section Ends Here========== -->



<!-- ===========Product Section Start Here========== -->
<div class="product-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <p>Extreme Shop</p>
            <h2>explore our products</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <img src="assets/images/product/01.jpg" alt="product-thumb" class="w-100">
                            </div>
                            <div class="product-content text-center p-3">
                                <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                <h5 class="product-price">$380.00</h5>
                                <div class="rating">
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <img src="assets/images/product/02.jpg" alt="product-thumb" class="w-100">
                            </div>
                            <div class="product-content text-center p-3">
                                <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                <h5 class="product-price">$380.00</h5>
                                <div class="rating">
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <img src="assets/images/product/03.jpg" alt="product-thumb" class="w-100">
                            </div>
                            <div class="product-content text-center p-3">
                                <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                <h5 class="product-price">$380.00</h5>
                                <div class="rating">
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <img src="assets/images/product/04.jpg" alt="product-thumb" class="w-100">
                            </div>
                            <div class="product-content text-center p-3">
                                <a href="#"><h5 class="product-title">Bigamer T-Shirt Here</h5></a>
                                <h5 class="product-price">$380.00</h5>
                                <div class="rating">
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                    <i class="icofont-ui-rating"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===========Product Section Ends Here========== -->

<div class="container">
    <hr class="m-0">
</div>

<!-- ===========Sponsor Section Start Here========== -->
<div class="sponsor-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <p>WE OUR PARTNERS</p>
            <h2>BECOME A PARTNER of bigamer</h2>
        </div>
        <div class="section-wrapper">
            <div class="row g-5 justify-content-center row-cols-xl-5 row-cols-md-3 row-cols-2">
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/01.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/02.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/03.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/04.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/05.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/06.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/07.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sponsor-item">
                        <div class="sponsor-inner">
                            <div class="sponsor-thumb text-center">
                                <img src="assets/images/sponsor/08.png" alt="sponsor-thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="partners.html" class="default-button"><span>BECOME A PARTNER <i class="icofont-circled-right"></i></span> </a>
            </div>
        </div>
    </div>
</div>
<!-- ===========Sponsor Section Ends Here========== -->

<!-- ===========Blog Section Start Here========== -->
<div class="blog-section padding-top padding-bottom" style="background-image:url(assets/images/blog/bg.jpg)">
    <div class="container">
        <div class="section-header">
            <p>our recent news</p>
            <h2>Our Most Popular Blog posts</h2>
        </div>

        <div class="section-wrapper">
            <div class="row g-4 justify-content-center row-cols-lg-2 row-cols-1">
                <div class="col">
                    <div class="blog-item">
                        <div class="blog-inner">
                            <div class="blog-thumb">
                                <img src="assets/images/blog/01.jpg" alt="blog-thumb">
                            </div>
                            <div class="blog-content px-3 py-4">
                                <a href="blog-single.html"><h3>Distinctive redefine resource maximizing for</h3></a>
                                <div class="meta-post">
                                    <a href="#">Admin</a>
                                    <a href="#">30 December 2021</a>
                                </div>
                                <p>Uniquely conceptuaze visionary process ariwith tactical ramatica centered qualitys vectoris with outofthebox scenario is ompelling uthoritatively generate front-end niches after one</p>
                                <a href="blog-single.html" class="default-button reverse-effect"><span>read more <i class="icofont-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="blog-item">
                        <div class="blog-inner">
                            <div class="blog-thumb">
                                <img src="assets/images/blog/02.jpg" alt="blog-thumb">
                            </div>
                            <div class="blog-content px-3 py-4">
                                <a href="blog-single.html"><h3>redefine resource maximizing for Distinctive</h3></a>
                                <div class="meta-post">
                                    <a href="#">Admin</a>
                                    <a href="#">30 December 2021</a>
                                </div>
                                <p>Uniquely conceptuaze visionary process ariwith tactical ramatica centered qualitys vectoris with outofthebox scenario is ompelling uthoritatively generate front-end niches after one</p>
                                <a href="blog-single.html" class="default-button reverse-effect"><span>read more <i class="icofont-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===========Blog Section Ends Here========== -->


<!-- ===========Testimonial Section Start Here========== -->

<div class="testimonial-section padding-top padding-bottom" style="background-image:url(assets/images/testimonial/bg.png)">
    <div class="container">
        <div class="section-header">
            <p>our recent news</p>
            <h2>Our Most Commented posts</h2>
        </div>
        <div class="section-wrapper">
            <div class="testimonial-slider overflow-hidden">
                <div class="swiper-slide">
                    {% set n= 0 %}
                    {% for i in publication %}





                        <div class="testimonial-item">


                            <div class="testimonial-inner">



                                <div class="testimonial-head">


                                    <div class="testi-top">
                                        <div class="testimonial-thumb">
                                            <img src="assets/images/testimonial/01.jpg" alt="testimonial">
                                        </div>
                                        <div class="name-des">
                                            <h5>{{ i.titre }}</h5>

                                        </div>
                                    </div>
                                    <a href="team-single.html"><img src="assets/images/testimonial/logo/01.png" alt="testimonial"></a>
                                </div>
                                <div class="testimonial-body">
                                    <p>{{ i.status }}</p>
                                </div>




                                <div class="testimonial-footer">

                                    <h5>  {{ (number[n])[1]}}  comments</h5>
                                    {% set n = n + 1 %}

                                </div>



                            </div>


                        </div>


                        </div>




                {% endfor %}





</div>
</div>
</div>

<!-- ===========Testimonial Section Ends Here========== -->

{% endblock %}

