{% extends 'base.html.twig' %}


{% block body %}
<body>
<!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->

<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
<!-- scrollToTop ending here -->

<!-- ==========shape image Starts Here========== -->
<div class="body-shape">
    <img src="assets/images/shape/body-shape.png" alt="shape">
</div>
<!-- ==========shape image end Here========== -->





<!-- ===========PageHeader Section Start Here========== -->
<section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
    <div class="container">
        <div class="section-wrapper text-center text-uppercase">
            <h2 class="pageheader-title">most popular game</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">matche</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- ===========PageHeader Section Ends Here========== -->



<!-- ===========match schedule Section start Here========== -->
<section class="match-section padding-top padding-bottom">
    <div class="container">
        <div class="section-wrapper">
            <ul class="match-filter-button-group common-filter-button-group d-flex flex-wrap justify-content-center mb-5 text-uppercase">
                <li class="is-checked" data-filter="*">All matches</li>
                <li data-filter=".match-one">today’s matches</li>
                <li data-filter=".match-two">upcoming matches</li>
                <li data-filter=".match-three">matche results</li>
            </ul>
            <div class="row g-4 match-grid">
                <div class="col-12 matchlistitem match-one">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-yellow">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-10.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-1.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-two">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-pink">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-12.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-11.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-three">
                    <div class="match-item-2 item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-blue">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-2 col-5 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html" class="text-center"><img src="assets/images/match/teamsm/teamsm-6.png" alt="team-img"></a>
                                        </div>

                                    </div>
                                    <div class="col-2 d-md-none">
                                        <img src="assets/images/match/vs.png" alt="vs">
                                    </div>
                                    <div class="col-md-2 col-5 order-md-3 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-5.png" alt="team-img"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                        <div class="match-game-info text-center">
                                            <h4><a href="team-single.html">4 - 2</a>
                                            </h4>
                                            <p class="d-flex flex-wrap justify-content-center">
                                                    <span class="match-date">30
                                                        April 2021 </span><span class="match-time">Time:
                                                        08:30PM</span>
                                            </p>
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a>
                                                </li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-one">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-yellow">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-2.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-3.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-one">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-pink">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-4.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-3.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-three">
                    <div class="match-item-2 item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-blue">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-2 col-5 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html" class="text-center"><img src="assets/images/match/teamsm/teamsm-1.png" alt="team-img"></a>
                                        </div>

                                    </div>
                                    <div class="col-2 d-md-none">
                                        <img src="assets/images/match/vs.png" alt="vs">
                                    </div>
                                    <div class="col-md-2 col-5 order-md-3 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-3.png" alt="team-img"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                        <div class="match-game-info text-center">
                                            <h4><a href="team-single.html">4 - 2</a>
                                            </h4>
                                            <p class="d-flex flex-wrap justify-content-center">
                                                    <span class="match-date">30
                                                        April 2021 </span><span class="match-time">Time:
                                                        08:30PM</span>
                                            </p>
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a>
                                                </li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-two">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-yellow">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-5.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-6.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 matchlistitem match-two">
                    <div class="match-item item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-pink">
                                <div class="row gy-4 align-items-center justify-content-center">
                                    <div class="col-xl-4 col-md-6 order-md-2">
                                        <div class="match-game-team">
                                            <ul class="match-team-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-7.png" alt="team-img"></a>
                                                </li>
                                                <li class="text-center"><img class="w-75 w-md-100" src="assets/images/match/vs.png" alt="vs"></li>
                                                <li class="match-team-thumb"><a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-8.png" alt="team-img"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-1">
                                        <div class="match-game-info">
                                            <h4><a href="team-single.html">Battlefield-4 tournament</a> </h4>
                                            <p class="d-flex flex-wrap justify-content-center  justify-content-md-start">
													<span class="match-date">30
														April 2021 </span><span class="match-time">Time: 08:30PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 order-md-3">
                                        <div class="match-game-social">
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                                <li><a href="#" class="default-button reverse-effect"><span>Watch
																Now <i class="icofont-play-alt-1"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 matchlistitem match-three">
                    <div class="match-item-2 item-layer">
                        <div class="match-inner">
                            <div class="match-header d-flex flex-wrap justify-content-between align-items-center">
                                <p class="match-team-info">
                                    2 group <span class="fw-bold">32 Players</span>
                                </p>
                                <p class="match-prize">Prize Pool <span class="fw-bold">$3200</span></p>
                            </div>
                            <div class="match-content gradient-bg-blue">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-2 col-5 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html" class="text-center"><img src="assets/images/match/teamsm/teamsm-7.png" alt="team-img"></a>
                                        </div>

                                    </div>
                                    <div class="col-2 d-md-none">
                                        <img src="assets/images/match/vs.png" alt="vs">
                                    </div>
                                    <div class="col-md-2 col-5 order-md-3 p-0">
                                        <div class="match-team-thumb text-center">
                                            <a href="team-single.html"><img src="assets/images/match/teamsm/teamsm-8.png" alt="team-img"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-2 mt-4 mt-md-0">
                                        <div class="match-game-info text-center">
                                            <h4><a href="team-single.html">4 - 2</a>
                                            </h4>
                                            <p class="d-flex flex-wrap justify-content-center">
                                                    <span class="match-date">30
                                                        April 2021 </span><span class="match-time">Time:
                                                        08:30PM</span>
                                            </p>
                                            <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center">
                                                <li><a href="#"><img src="assets/images/match/social-1.png" alt="vimeo"></a>
                                                </li>
                                                <li><a href="#"><img src="assets/images/match/social-2.png" alt="youtube"></a></li>
                                                <li><a href="#"><img src="assets/images/match/social-3.png" alt="twitch"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========match schedule Section Ends Here========== -->


<!-- ===========CTA Section start Here========== -->
<section class="cta-section padding-bottom">
    <div class="container">
        <div class="cta-wrapper item-layer">
            <div class="cta-item px-4 px-sm-5 pt-4 pt-sm-5 pt-lg-0" style="background-image: url(assets/images/cta/bg.jpg);">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-content">
                            <p class="theme-color text-uppercase ls-2">Let's Play together</p>
                            <h2 class="mb-3">JOIN <span class="theme-color text-uppercase">bigamer</span> ESPORTS TO BECOME
                                NEXT PRO GAMER TODAY!</h2>
                            <p class="mb-4">Distinctively provide acces mutfuncto users whereas transparent
                                proceses somes ncentivize eficient functionalities rather than an
                                extensible archtectur services and cross</p>
                            <a href="signup.html" class="default-button"><span>Join Community <i class="icofont-circled-right"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-thumb text-end">
                            <img src="assets/images/cta/01.png" alt="gamer-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===========CTA Section Ends Here========== -->



{% endblock %}
